.header {
  min-height: 70px;
  box-shadow: 0 4px 4px rgba(184, 184, 184, 0.13);
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__logo {
  font-family: "Raffic", sans-serif;
  font-size: 2rem;
  transition: all .3s ease-in-out;
}
.header__logo:hover {
  opacity: .7;
}
